@media (min-width: 800px) {
  h1 {
    padding-top: 80px;
  }
}
@media (max-width: 800px) {
  h1 {
    padding-top: 20px;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(65, 63, 63);
}
.contact_links a {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: rgb(87, 85, 85);
  text-decoration: none;
}
.contact_links a:hover {
  color: black;
}
.contact_links {
  text-align: center;
  padding-top: 60px;
}
.mail,
.linked_in,
.facebook,
.instagram {
  padding-bottom: 20px;
}
.pil1 {
  color: rgb(244, 41, 255);
}
.pil2 {
  color: rgb(99, 151, 254);
}
.pil3 {
  color: rgb(0, 30, 255);
}
.pil4 {
  color: rgb(173, 32, 255);
}
